@model List<Tbl_DomainMaster>
@{
    ViewBag.Title = "AddDomain";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">

<!-- SweetAlert JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

<style>
    .table tr th {
        text-transform: initial;
        font-weight: 600;
        background: #1b2e4b;
        color: #bfc9d4;
        padding: 10px 21px;
    }

    input[type="date"] {
        background: #d3d3d3;
        color: #042955;
    }
</style>

<div class="d-flex align-items-center justify-content-between page-header-breadcrumb my-3 flex-wrap gap-2">
    <div>
        <nav>
            <ol class="breadcrumb mb-1">
                <li class="breadcrumb-item"><a href="javascript:void(0);"> Setting</a></li>
                <li class="ri-arrow-right-s-line px-2"></li>
                <li class="breadcrumb-item active" aria-current="page">Add Domain</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Add Domain
                </div>
            </div>
            <form action="/Admin/AddDomain" id="masterForm" method="post">
                <div class="card-body">
                    <div class="row g-3">
                        <div class="col-md-4 mt-0 mb-3">
                            <label class="form-label">Domain</label>
                            <input type="text" name="Domain" class="form-control numeric-input" id="txtpackage" required placeholder="Please Enter Domain" />
                        </div>
                        <div class="col-md-4 mt-0 mb-3">
                            <label class="form-label">Connection String</label>
                            <input type="text" name="Connection" class="form-control" id="txtconnection" required placeholder="Please Enter Connection String" />
                        </div>
                    </div>

                    <div class="col-md-12 m-0">
                        <button type="submit" id="btnsubmit" class="btn btn-primary submit-fn">Submit</button>
                    </div>
                    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
                    {
                        <span style="color:green" id="lblsuccess">@ViewBag.SuccessMessage</span>
                    }
                    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
                    {
                        <span style="color:red" id="lblerror">@ViewBag.ErrorMessage</span>
                    }
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row layout-top-spacing" id="cancel-row">
    <div class="col-xl-12 col-lg-12 col-sm-12 layout-spacing">
        <div class="widget-content widget-content-area br-6">
            <table id="dataTable" class="table dt-table-hover" style="width: 100%">
                <thead>
                    <tr>
                        <th>#No</th>
                        <th>Domain</th>
                        <th>Connection String</th>
                        <th>Date</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int x = 0;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(++x)</td>
                            <td>@item.Domain</td>
                            <td>@item.Connection</td>
                            <td>@(item.createdate?.ToString("dd MMM yyyy") ?? "N/A")</td>
                            <td><button type="button" class="btn btn-danger" onclick="if(confirm('Are you sure you want to delete this domain?')) { deletePackage('@item.id'); }">Delete</button></td>
                            <td>
                                <button type="button" class="btn btn-primary" onclick="editPackage('@item.Domain', '@item.Connection')"> Edit </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function deletePackage(id) {
        $.ajax({
            url: '@Url.Action("deletePack", "Admin")',
            type: 'POST',
            dataType: 'json',
            data: {
                Id: id, action: "domain"
            },
            success: function (response) {
                if (response == "Ok") {
                    window.location.href = '@Url.Action("AddDomain", "Admin")';
                    swal({
                        title: "Success!",
                        text: "Domain Delete Successfully...!",
                        icon: "success",
                        button: "OK",
                    });
                }
                else {
                    swal({
                        title: "Error!",
                        text: "Domain Deletion Failed...!",
                        icon: "error",
                        button: "Try Again",
                    });
                }
            },
            error: function () {
                swal({
                    title: "Error!",
                    text: 'Error while Delete Domain : ' + error,
                    icon: "error",
                    button: "Try Again",
                });
            }
        });
    }
    function editPackage(domain, connection) {
        $('#txtpackage').val(domain);
        $('#txtconnection').val(connection);
    }
</script>
